<% content_for :title, "声友 - グループ通話アプリ" %>

<div
  class="relative min-h-screen w-full max-w-[650px] flex flex-col items-center shadow-[0_4px_4px_rgba(0,0,0,0.25)] pt-[30px] min-[420px]:w-[420px]"
>
  <!-- タイトルセクション -->
  <div class="relative mt-1 flex flex-col items-center">
    <p class="text-[32px] text-[#4fce8c] max-[360px]:text-[22px]">
      無料グループ通話アプリ
    </p>
    <p
      class="text-[43px] text-[#63ee44] leading-normal max-[360px]:text-[32px] font-bold"
    >
      声友
    </p>
  </div>

  <!-- トップ画像 -->
  <div
    class="w-[90vw] max-w-[600px] mt-2 flex justify-center items-center min-[420px]:w-[90%]"
  >
    <%= image_tag "top.png", alt: "声友トップイメージ", class: "block w-full
    h-auto object-contain rounded-[24px]" %>
  </div>

  <!-- 次へボタン＋指アイコン＋テキスト -->
  <div class="relative mt-4 flex flex-col items-center">
    <!-- 次へボタン枠 -->
    <div
      class="relative mt-2 w-[90vw] max-w-[250px] h-[130px] max-[360px]:max-w-[200px] max-[360px]:h-[100px] bg-[#93e2a08c] rounded-[30px] p-0 flex items-center justify-center cursor-pointer"
      onclick="handleNextClick()"
    >
      <!-- 中の「次へ」テキスト -->
      <div class="w-full h-full flex items-center justify-center">
        <span
          class="text-[40px] max-[360px]:text-[28px] font-bold text-[#32646A] tracking-[0.2em]"
        >
          次へ
        </span>
      </div>
    </div>

    <!-- 指＋テキスト -->
    <div
      class="mt-[-5px] flex items-center justify-center gap-3 max-[360px]:gap-2"
    >
      <div
        class="w-[60px] h-[70px] max-[360px]:w-[50px] max-[360px]:h-[60px] animate-bounce"
      >
        <svg
          fill="none"
          preserveAspectRatio="none"
          viewBox="0 0 104 104"
          class="block w-full h-full"
        >
          <g>
            <path
              d="M79.9644 48.7211C79.6884 47.6797 79.0869 46.7537 78.2477 46.0781C77.4084 45.4025 76.3753 45.0127 75.2989 44.9656C74.1496 44.9152 73.0178 45.2606 72.0925 45.9441C71.1671 46.6276 70.5042 47.6078 70.2144 48.7211H69.94C69.94 48.75 69.9544 48.7933 69.9544 48.8367C69.94 48.7933 69.94 48.75 69.9256 48.7211V48.6922C69.7408 47.7518 69.2895 46.8844 68.6256 46.1933C68.38 45.9333 68.12 45.7022 67.8167 45.5144C67.7156 45.4422 67.6144 45.37 67.5133 45.3122C67.2678 45.1678 67.0222 45.0522 66.7622 44.9511C66.6178 44.8933 66.4733 44.85 66.3289 44.8211C66.1499 44.7623 65.9663 44.7188 65.78 44.6911L65.4333 44.6478H65.3467C65.2167 44.6333 65.1011 44.6333 64.9711 44.6333C64.7978 44.6333 64.6389 44.6333 64.48 44.6622C64.1478 44.6911 63.8444 44.7489 63.5411 44.8356C62.7719 45.0666 62.0688 45.4776 61.49 46.0344C61.36 46.1356 61.2589 46.2511 61.1578 46.3811C61.0567 46.4967 60.9556 46.6122 60.8689 46.7422C60.7822 46.8722 60.6956 47.0022 60.6089 47.1467C60.45 47.4211 60.32 47.71 60.2044 48.0133C60.1322 48.2445 60.06 48.4756 60.0311 48.7211H59.8433C59.758 47.5046 59.2332 46.3605 58.3669 45.5022C57.5006 44.6438 56.3517 44.1297 55.1344 44.0556C53.9399 43.9782 52.7568 44.328 51.7964 45.0424C50.8359 45.7568 50.1606 46.7893 49.8911 47.9556V48.7933L49.7611 48.7789V16.4667C49.7611 16.3078 49.7467 16.1344 49.7322 15.9756C49.6157 14.7244 49.0352 13.5622 48.105 12.7175C47.1747 11.8728 45.9621 11.4068 44.7056 11.4111C41.9178 11.4111 39.65 13.6644 39.65 16.4667V51.5233L39.6789 51.5667L39.65 53.3722V51.5233L38.5089 49.9778L36.5589 47.3344L35.5622 47.9845C35.1858 47.5936 34.7639 47.2493 34.3056 46.9589L34.2911 46.9444C31.6911 45.0956 27.0689 43.2178 25.3933 44.8356C23.4433 46.7278 24.5844 50.9456 32.4133 61.2589C33.8433 91.3611 44.9511 89.5122 56.3622 92.5889C67.4267 93.6144 79.6611 83.4744 79.8344 66.3867H80.1378V50.0067C80.1378 49.5589 80.08 49.14 79.9644 48.7211ZM59.9444 49.27H59.93C59.9444 49.1689 59.9444 49.0678 59.9733 48.9667C59.9589 49.0678 59.9444 49.1689 59.9444 49.27Z"
              fill="#FADCBC"
            />
            <g>
              <path
                d="M80.1378 68.8234C80.1378 81.952 69.4951 92.5932 56.3666 92.5932C43.238 92.5932 32.5982 81.952 32.5982 68.8234M80.1363 67.5624V50.2291M70.0368 49.8044C70.0647 49.1411 70.2229 48.4898 70.5025 47.8876C70.7821 47.2854 71.1776 46.7442 71.6664 46.2949C72.1552 45.8456 72.7276 45.4969 73.3511 45.2688C73.9747 45.0407 74.637 44.9377 75.3003 44.9656C75.9637 44.9934 76.615 45.1517 77.2172 45.4313C77.8194 45.7109 78.3606 46.1064 78.8099 46.5952C79.2592 47.0839 79.6079 47.6564 79.836 48.2799C80.0641 48.9034 80.1671 49.5658 80.1392 50.2291M59.93 49.4693C59.9578 48.806 60.116 48.1546 60.3955 47.5524C60.675 46.9502 61.0704 46.409 61.5591 45.9596C62.0478 45.5102 62.6202 45.1614 63.2437 44.9332C63.8672 44.7051 64.5295 44.6019 65.1928 44.6297C65.8562 44.6575 66.5075 44.8157 67.1097 45.0952C67.712 45.3747 68.2532 45.7701 68.7026 46.2588C69.152 46.7475 69.5007 47.32 69.7289 47.9434C69.9571 48.5669 70.0602 49.2292 70.0324 49.8926"
                stroke="black"
                stroke-width="0.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-miterlimit="10"
              />
              <path
                d="M59.9358 49.2758C59.9809 48.608 60.1581 47.9558 60.4572 47.3571C60.7563 46.7583 61.1713 46.2249 61.6782 45.7878C62.185 45.3507 62.7736 45.0186 63.4098 44.8108C64.046 44.6029 64.7172 44.5235 65.3843 44.577C66.0515 44.6306 66.7014 44.816 67.2963 45.1227C67.8912 45.4294 68.4193 45.8511 68.8499 46.3635C69.2806 46.8758 69.6052 47.4686 69.8049 48.1074C70.0047 48.7462 70.0757 49.4182 70.0137 50.0847M49.764 48.7789C49.8064 48.1163 49.9789 47.4686 50.2716 46.8727C50.5643 46.2767 50.9716 45.7443 51.4701 45.3058C51.9685 44.8672 52.5485 44.5312 53.1769 44.3168C53.8053 44.1024 54.4697 44.0139 55.1323 44.0563C55.7949 44.0987 56.4426 44.2712 57.0385 44.5639C57.6344 44.8566 58.1669 45.2638 58.6054 45.7623C59.0439 46.2608 59.38 46.8408 59.5944 47.4692C59.8088 48.0975 59.8973 48.762 59.8549 49.4246M49.764 48.724V16.4623C49.764 15.7984 49.6332 15.141 49.3792 14.5277C49.1251 13.9143 48.7527 13.357 48.2833 12.8875C47.8138 12.4181 47.2565 12.0457 46.6431 11.7916C46.0298 11.5375 45.3723 11.4068 44.7084 11.4068C44.0445 11.4068 43.3871 11.5375 42.7738 11.7916C42.1604 12.0457 41.6031 12.4181 41.1336 12.8875C40.6642 13.357 40.2918 13.9143 40.0377 14.5277C39.7837 15.141 39.6529 15.7984 39.6529 16.4623V56.6049M35.3773 48.1621L32.5491 44.9656C32.088 44.4877 31.5372 44.1055 30.9282 43.8406C30.3193 43.5757 29.6642 43.4333 29.0002 43.4217C28.3363 43.41 27.6765 43.5293 27.0587 43.7727C26.4408 44.016 25.877 44.3787 25.3993 44.8401C24.9217 45.3014 24.5396 45.8523 24.2749 46.4613C24.0102 47.0703 23.8681 47.7255 23.8567 48.3895C23.8453 49.0535 23.9648 49.7132 24.2083 50.3309C24.4519 50.9487 24.8148 51.5124 25.2763 51.9899L27.9067 55.4277M27.8287 55.341C30.6497 58.4364 32.7022 62.8044 32.5982 69.0936"
                stroke="black"
                stroke-width="0.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-miterlimit="10"
              />
            </g>
          </g>
        </svg>
      </div>

      <p
        class="text-[30px] text-black leading-[1.2] text-center max-[360px]:text-[18px]"
      >
        次へをタップ
      </p>
    </div>
  </div>
</div>
