<% content_for(:title, t('.title')) %>

<div class="min-h-screen w-full max-w-[700px] mx-auto flex flex-col">
  <%= render "shared/header" %>

  <main class="flex-1 pt-6 pb-10">
    <%= render "top_how_to_use_section" %>
  </main>
</div>
