<div id="<%= dom_id room %>">
  <div>
    <strong>Topic:</strong>
    <%= room.topic %>
  </div>

  <div>
    <strong>Topic updated:</strong>
    <%= room.topic_updated %>
  </div>

  <div>
    <strong>User:</strong>
    <%= room.user_id %>
  </div>

</div>
