<div data-controller="test">
  <input data-test-target="name" type="text">

  <button data-action="click->test#greet">Greet</button>

  <span data-test-target="output"></span>
  # spanタグは、JSの差し替える「表示場所」として使うことが多い。
</div>
